source/*.dcu
*.dll

source/*.ddp
source/*.~*

source/core/model/*.dcu

source/controls/*.~*
source/controls/*.dcu

source/privateSource/*.~*
source/privateSource/*.dcu

source/functions/*.~*
source/functions/*.dcu

source/qrReport/*.~*
source/qrReport/*.dcu

source/functions/*.~*
source/functions/*.dcu

source/fastreport/*.~*
source/fastreport/*.dcu
